# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

*.lock

# Logs
logs/
*.log
log_ppo/

# wandb logs
wandb/
**/run-*/
*.wandb
tmp/
code/

# Ignore all JSON files
*.json

# But keep JSON files in report/
!reports/*.json


# Model checkpoints
models/
models_ppo/
checkpoints/
*.pth
*.pt
*.ckpt
*.zip
events.out.tfevents.*

# Python cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environment variables
.env

# some experiments
2/
3/
5/
8/
